:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

body {
  background-color: pink;
  line-height: 1.5;
}

.App {
  text-align: center;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-template-areas:
    "App-header App-header App-header"
    "Column-One Column-Two Column-Three"
    "App-footer App-footer App-footer";
  grid-gap: 0.2rem;
}

.Column-One {
  grid-area: Column-One;
}

.Circle-avatar {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.Card-Container {
  background-color: pink;
  grid-area: Column-Two;
  justify-content: start;
  background-color: white;
  border-radius: var(--main-radius);
  box-shadow: 5px;
}

.Column-Three {
  grid-area: Column-Three;
}

.App-header {
  grid-area: App-header;
}

.App-footer {
  grid-area: App-footer;
}

@media only screen and (max-width: 900px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0fr 1fr 0fr 0.1fr;
    grid-template-areas:
      "App-header"
      "Column-One"
      "Column-Two"
      "Column-Three"
      "App-footer";
  }
}
