:root {
  --main-radius: 5px;
  --main-padding: 5px;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

body {
  background-color: pink;
}

.App {
  text-align: center;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-template-areas:
    "App-header App-header App-header"
    "Column-One Column-Two Column-Three"
    "App-footer App-footer App-footer";
  grid-gap: 0.2rem;
}

.Column-One {
  grid-area: Column-One;
}

.Column-Two {
  grid-area: Column-Two;
}

.Column-Three {
  grid-area: Column-Three;
}

.Card-Container {
  background-color: white;
  height: auto;
  margin: 2.5rem 2.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: var(--main-radius);
  box-shadow: var(--dark-shadow);
}

.Circle-Avatar {
  border-radius: 50%;
  border: 2px solid rgb(180, 180, 180);
  width: 75px;
  height: 75px;
}

.Person {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  align-items: center;
}

.Name {
  text-align: left;
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: -0.5rem;
  color: #102a42;
}

.Age {
  text-align: left;
  font-size: 1rem;
  line-height: 1rem;
  color: #617d98;
}

.App-Header {
  grid-area: App-header;
}

.App-Footer {
  grid-area: App-footer;
}

@media only screen and (max-width: 900px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0fr 1fr 0fr 0.1fr;
    grid-template-areas:
      "App-header"
      "Column-One"
      "Column-Two"
      "Column-Three"
      "App-footer";
  }
}
