:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

body {
  background-color: #f28ae6;
  line-height: 1.5;
}

.App {
  text-align: center;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-template-areas:
    "App-header App-header App-header"
    "Column-One Column-Two Column-Three"
    "App-footer App-footer App-footer";
  grid-gap: 0.2rem;
}

.Column-One {
  grid-area: Column-One;
}

.Circle-Avatar {
  border-radius: 50%;
  border: 7px solid rgb(180, 180, 180);
  width: 120px;
  height: 120px;
}

.Details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  align-items: center;
}

.Name {
  font-size: 2em;
  color: #212121;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.Age {
  margin: 20px 0;
  color: #565656;
}

.Card-Container {
  background-color: pink;
  grid-area: Column-Two;
  justify-content: start;
  background-color: white;
  border-radius: var(--main-radius);
  box-shadow: 5px;
}

.Column-Three {
  grid-area: Column-Three;
}

.App-Header {
  grid-area: App-header;
}

.App-Footer {
  grid-area: App-footer;
}

@media only screen and (max-width: 900px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0fr 1fr 0fr 0.1fr;
    grid-template-areas:
      "App-header"
      "Column-One"
      "Column-Two"
      "Column-Three"
      "App-footer";
  }
}
